<a href="https://colab.research.google.com/github/Tejav202/IETE/blob/main/day2_colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
my_tuple=('apple','mango','banana')
print(my_tuple)

('apple', 'mango', 'banana')

In [2]:
my_tuple=('apple','mango','banana')
print(my_tuple[0])
print(my_tuple[-1])
print(my_tuple[0:])
print(my_tuple[0:2])

apple
banana
('apple', 'mango', 'banana')
('apple', 'mango')

In [5]:
my_tuple=('apple','mango','banana','apple','banana','grape')
print(my_tuple)
print(my_tuple.count("apple"))
print(my_tuple.index("grape"))

('apple', 'mango', 'banana', 'apple', 'banana', 'grape')
2
5

In [8]:
myset={'apple','apple','mango','banana'}
print(myset)
myset.add('grape')
print(myset)
myset.remove('mango')
print(myset)
myset.discard('grape')
print(myset)
myset.clear()
print(myset)

{'apple', 'mango', 'banana'}
{'apple', 'mango', 'banana', 'grape'}
{'apple', 'banana', 'grape'}
{'apple', 'banana'}
set()

In [9]:
set1={'apple','banana'}
set2={'banana','mango'}
combined=set1.union(set2)
print(combined)

{'apple', 'mango', 'banana'}

In [11]:
set1={'apple','banana'}
set2={'banana','mango'}
common=set1.intersection(set2)
print(common)

{'banana'}

In [16]:
fruits=('apple',5,'banana',1,'mango',4,'watermelon','apple')
print(fruits[1])
print(fruits.count('apple'))
set1={1,2,1,2,3}
print(set1)
set1.add(5)
print(set1)
common=set1.intersection(fruits)
print(common)

5
2
{1, 2, 3}
{1, 2, 3, 5}
{1, 5}

In [17]:
student={'name':'alice','age':21,"grade":'A'}
print(student)
print(student['name'])
print(student['age'])
print(student.get('grade'))
print(student.get('marks'))
print(student.get('marks',10))

{'name': 'alice', 'age': 21, 'grade': 'A'}
alice
21
A
None
10

In [21]:
student['marks']=85
student['grade']='A+'
print(student)
student.pop('marks')
print(student)
for key in student:
  print(key,":",student[key])

{'name': 'alice', 'grade': 'A+', 'marks': 85}
{'name': 'alice', 'grade': 'A+'}
name : alice
grade : A+

In [23]:
keys=['name','age','grade']
values=['bob',22,'B']
student2=dict(zip(keys,values))
print(student2)

{'name': 'bob', 'age': 22, 'grade': 'B'}

In [29]:
classroom={
   'student1':{'name':'alice','marks':80},
   'student2':{'name':'bob','marks':90},
   'student3':{'name':'charlie','marks':70}
}
print(classroom['student1'])
print(classroom['student2'])
print(classroom['student3'])

{'name': 'alice', 'marks': 80}
{'name': 'bob', 'marks': 90}
{'name': 'charlie', 'marks': 70}

In [37]:
car={'brand':"suzuki",'model':"alto","year":2020}
car['color']='blue'
print(car)
print(car.get('enginetype','petrol'))
cars={
    'car1':{"brand":"suzuki","model":"alto","year":2020},
    'car2':{"brand":"toyota","model":"camry","year":2021}
}
print(cars['car1'])
print(cars['car2'])
names=['venkat','teja','ravi']
marks=[85,90,95]
student=dict(zip(names,marks))
print(student)

{'brand': 'suzuki', 'model': 'alto', 'year': 2020, 'color': 'blue'}
petrol
{'brand': 'suzuki', 'model': 'alto', 'year': 2020}
{'brand': 'toyota', 'model': 'camry', 'year': 2021}
{'venkat': 85, 'teja': 90, 'ravi': 95}

In [44]:
x=5
print(type(x))
y=12.5
print(type(y))
c='apple'
print(type(c))
d=3+2j
print(type(d))
b=True
print(type(b))
fruits=['apple','mango']
print(type(fruits))
cd=10,20
print(type(cd))
num=range(5)
print(list(num))
print(type(num))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'complex'>
<class 'bool'>
<class 'list'>
<class 'tuple'>
[0, 1, 2, 3, 4]
<class 'range'>

In [48]:
a=20
b=str(a)
print(b,type(b))
c="123"
d=int(c)
print(d,type(d))
x=5
y=float(x)
z=str(x)
w=int("50")
k=list("abc")
print(x,y,z,w,k)

20 <class 'str'>
123 <class 'int'>
5 5.0 5 50 ['a', 'b', 'c']

In [64]:
a=10
b=10.5
c=2+3j
d="hi"
e=[1,2,3]
f=('hi','hello','world')
is_palin=True
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(is_palin))
g=float(a)
print(type(g))
h=str(a)
print(h,type(h))
list=[1,'hi',10.5,True,2+3j]
print(type(list[0]))
print(type(list[1]))
print(type(list[2]))
print(type(list[3]))
print(type(list[4]))
set={1,2,3,4,4,3,2}
print(set)
tuple=(1,2,3,4,4,3,2)
tuple[2]='hi'

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'list'>
<class 'bool'>
<class 'float'>
10 <class 'str'>
<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>
<class 'complex'>
{1, 2, 3, 4}

TypeError: 'tuple' object does not support item assignment

In [66]:
a=10
b=5
print("addition:",a+b)
print("subtraction:",a-b)
print("multiplication:",a*b)
print("division:",a/b)
print("floor:",a//b)
print("modulus:",a%b)
print("Power",a**b)

addition: 15
subtraction: 5
multiplication: 50
division: 2.0
floor: 2
modulus: 0
Power 100000

In [68]:
x=5
x+=3
print(x)
x*=2
print(x)
x-=4
print(x)
print(x)
a,b=10,20
print(a,b)

8
16
12
12
10 20

In [70]:
a=5
b=7
print(a==b)
print(a>=5)
print(a<=3)
print(a<b)
print(a>b)
print(a!=b)

False
True
False
True
False
True

In [71]:
n=5
print(-n)
print(+n)
flag=True
print(not flag)

-5
5
False

In [73]:
from pickle import FALSE
a=5
b=7
print(a==b and a>=5)
print(a==b or a>=5)
print(not a==b)
x=True
y=False
print(not x,not y)

False
True
True
False True

In [83]:
age=15
print(a>=18)
num=12
print(num%2==0 and num>10)
num1=15
print(not num1%2==0)
a=10
a+=1
a*=8
print(a)

True
True
True
88

In [106]:
binary1 = '1010101'

# Pad binary string with leading zeros until its length is a multiple of 3
while len(binary1) % 3 != 0:
    binary1 = '0' + binary1

octal = ' '
# Process the binary string in chunks of 3 bits
for i in range(0,len(binary1),3):
    octal += str(int(binary1[i:i+3], 2))

print("Binary 1010101 to octal:", octal)

Binary 1010101 to octal:  125

In [126]:
# Restore the built-in 'bin' function
try:
    del bin
except:
    pass

In [128]:
number = 51
print("Decimal number:", number)
binary_number = bin(number)
print("Binary value:", binary_number)

# Binary to Decimal
b_num = "0b110010"
dec = int(b_num, 2)
print("Decimal value (from binary):", dec)

# Decimal to Octal
dec1 = 49
octal_val = oct(dec1)
print("Octal number:", octal_val)

# Octal to Decimal
oct1 = "0o61"
dec2 = int(oct1, 8)
print("Decimal value (from octal):", dec2)

# Decimal to Hexadecimal
dec3 = 78
hexa = hex(dec3)
print("Hexadecimal:", hexa)

# Hexadecimal to Decimal
hex1 = '0x4e'
dec4 = int(hex1, 16)
print("Decimal value (from hex):", dec4)

# Binary string to Decimal
bstr = '11011'
dec5 = int(bstr, 2)
print("Decimal value (from binary string):", dec5)

# Octal string to Decimal
ostr = '260'
dec6 = int(ostr, 8)
print("Decimal value (from octal string):", dec6)

# Hex string to Decimal
hstr = '3e'
dec7 = int(hstr, 16)
print("Decimal value (from hex string):", dec7)

Decimal number: 51
Binary value: 0b110011
Decimal value (from binary): 50
Octal number: 0o61
Decimal value (from octal): 49
Hexadecimal: 0x4e
Decimal value (from hex): 78
Decimal value (from binary string): 27
Decimal value (from octal string): 176
Decimal value (from hex string): 62

In [132]:
num=100
binary_num=bin(num)
print(binary_num)
octal_num=oct(num)
hexa2=hex(num)
print(octal_num)
print(hexa2)
hexa3='0xFF'
dec8=int(hexa3,16)
print(dec8)

0b1100100
0o144
0x64
255

In [135]:
def convert_decimal_to_all_bases(decimal_number):
    binary = bin(decimal_number)      # Binary with '0b' prefix
    octal = oct(decimal_number)       # Octal with '0o' prefix
    hexa = hex(decimal_number)        # Hex with '0x' prefix

    print(f"Decimal: {decimal_number}")
    print(f"Binary : {binary}")
    print(f"Octal  : {octal}")
    print(f"Hex    : {hexa}")
convert_decimal_to_all_bases(78)

Decimal: 78
Binary : 0b1001110
Octal  : 0o116
Hex    : 0x4e

In [145]:
a=10
b=4
print(a&b)
print(a|b)
print(a^b)
print(~a)
print(a<<1)
print(a>>2)

0
14
14
-11
20
2